GITHUB_CLIENT_ID="your_dev_app_client_id"
GITHUB_CLIENT_SECRET="your_dev_app_client_secret"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate_via_openssl_rand_base64_32"

GITHUB_ORG='organizaion name'